extends layout
block content
  div(class= 'container')
    div(class= 'text-center')
      h1(class='topTitle')= title
    -for (var i = 0; i < pics.length; i++) {
      div(class= 'row')
        div(class= 'col-8 text-center')=pics[i].Time
        div(class= 'col-4')
          a(href= pics[i].URL)
            img(class= 'takenImage' ,src= pics[i].URL)
    -}
  
  
  
  
  
