html{
  direction: rtl;
}

.topTitle{
padding: 20px; 
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}


.takenImage
{
  margin: auto;
  width: 100%;
}
